.leftCol {
    padding-bottom: 100%;
    border-right-style: solid;
    border-width: thick;
    border-color: #872e2e;
    background-color: #808080;
}

.rightCol {
    padding-bottom: 100%;
    border-left-style: solid;
    border-width: thick;
    border-color: #872e2e;
    background-color: #808080;
}

#header {
    background-color: #808080;
    border: solid;
    border-width: thick;
    border-color: #872e2e;
    margin-top: 5%;
    margin-bottom: 5%;
}

#banner {
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    color: #872e2e;
}